<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd">
    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host">
            <!-- <value>smtp.exmail.qq.com</value> -->
            <value>smtp.gmail.com</value>
        </property>
        <property name="username">

            <!-- <value>alarms@wifiin.com</value> -->
            <!-- <value>speedin.noreply@gmail.com</value> -->
            <value>service@speedin.cc</value>
        </property>
        <property name="password">
            <!-- <value>RUN2684</value> -->
            <!-- <value>a2b3c4d5e6</value> -->
            <value>ZNTxb4Nx9V</value>
        </property>
        <property name="javaMailProperties">
            <props>
                <prop key="mail.smtp.auth">true</prop>
                <prop key="mail.smtp.timeout">25000</prop>
                <prop key="mail.transport.protocol">smtp</prop>
                <prop key="mail.smtp.localhost">127.0.0.1</prop>

                <prop key="mail.smtp.socketFactory.class">javax.net.ssl.SSLSocketFactory</prop>
                <prop key="mail.smtp.socketFactory.fallback">false</prop>
                <prop key="mail.smtp.port">465</prop>
                <prop key="mail.smtp.socketFactory.port">465</prop>
            </props>
        </property>
    </bean>


    <bean id="mailModel" class="com.wifiin.spring.mail.SendMailUtil"
        scope="prototype">
        <property name="formatterType" value="PLAIN_TEXT" />
        <property name="prefix" value="${" />
        <property name="suffix" value="}" />
        <property name="mailSender" ref="mailSender" />
        <property name="msgHelper">
            <bean class="org.springframework.mail.javamail.MimeMessageHelper">
                <constructor-arg index="0">
                    <bean class="javax.mail.internet.MimeMessage"
                        factory-bean="mailSender" factory-method="createMimeMessage"
                        scope="prototype" />
                </constructor-arg>
                <constructor-arg index="1">
                    <value>true</value>
                </constructor-arg>
                <constructor-arg index="2">
                    <value>UTF-8</value>
                </constructor-arg>
            </bean>
        </property>
        <property name="from">
            <!-- <value>alarms@wifiin.com</value> -->
            <!-- <value>speedin.noreply@gmail.com</value> -->
            <value>service@speedin.cc</value>
        </property>
        <!-- <property name="mailto" value="chengang.zhao@wifiin.com;jingrun.wu@wifii.com;xin.li@wifiin.com;"/> -->
    </bean>
</beans>